<div id="login">
  <h1>Welcome Back!</h1>
  <form [formGroup]="loginForm">
    <div class="field-wrap">
      <label [ngClass]="loginForm.get('email').value !== '' ? 'active' : '' ">
        Email Address<span class="req">*</span>
      </label>
      <input type="email" required autocomplete="off"
             [formControl]="loginForm.get('email')">
    </div>
    <div class="field-wrap">
      <label [ngClass]="loginForm.get('password').value !== '' ? 'active' : '' ">
        Password<span class="req">*</span>
      </label>
      <input type="password" required autocomplete="off"
             [formControl]="loginForm.get('password')">
    </div>
    <p class="forgot"><a href="#">Forgot Password?</a></p>
    <button type="submit" class="button button-block" [disabled]="loginForm.invalid"
            [ngClass]="loginForm.invalid ? 'button-disable' : ''"
    >Get Started
    </button>
  </form>
</div>
